<h1><%= @recipe.name %></h1>
<p>Complexity: <%= @recipe.complexity %></p>
<p>Genre: <%= @recipe.genre %></p>

<h2> Ingredients </h2>
<ul>
    <% @recipe.ingredients.each do | ingredient | %>
    
        <li><%= ingredient.name %></li>
    <% end %>
</ul>

<h2> Total Cost </h2>
<p>Total Cost: <%= @total_cost %></p>



